<!-- modalContactEdit -->
<div class="modal fade" id="modalContactEdit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
          Editar Contato
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <form action="." method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <input id="" name="" type="hidden" v-model="pk"/>
          <div class="form-group">
            <label for="id_name">Nome</label>
            <input id="id_name" name="name" v-model="name" type="text" class="form-control" maxlength="100" />
          </div>
          <div class="form-group">
            <label for="id_email">E-Mail</label>
            <input id="id_email" name="email" v-model="email" type="email" class="form-control" maxlength="254" />
          </div>
          <div class="form-group">
            <label for="id_phone">Telefone</label>
            <input id="id_phone" name="phone" v-model="phone" type="text" class="form-control" maxlength="20" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Fechar
          </button>
          <button type="submit" class="btn btn-primary" @click="edit_contact()" data-dismiss="modal">
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
