{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
  Clientes
{% endblock title %}

{% block breadcrumb %}
  {% if 'add' in request.resolver_match.url_name %}
    {% include "includes/breadcrumb_add.html" %}
  {% else %}
    {% include "includes/breadcrumb_update.html" %}
  {% endif %}
{% endblock breadcrumb %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Cadastrar
      </div>
      <div class="card-body">
        <div class="col-sm-6">
          <form action="" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.field.required %}<b style="color:red">*</b>{% endif %}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                  <span class="text-muted">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}

<script>
$(document).ready(function(){
  $('#id_birthday').datepicker({
    locale: "pt-BR"
  });

  $("#id_cpf").mask("999.999.999-99");
  $("#id_cnpj").mask("99.999.999/9999-99");
  // $("#id_phone").mask("(99) 9999-9999?9"); //after ? is optional
  $("#id_cep").mask("99999-999");

  $('#id_cep').parent().append('<div class="pull-right"><i id="id_spinner" class="fa fa-spinner fa-spin fa-fw" style="display:none"></i><a href="javascript:findCEP()" class="btn btn-sm btn-primary" type="button">Validar CEP</a></div>');
})

function findCEP() {
  if($.trim($("#id_cep").val()) != ""){
    $('#id_spinner').css('display', 'inline');
    $.getScript("http://cep.republicavirtual.com.br/web_cep.php?formato=javascript&cep="+$("#id_cep").val().replace("-", ""), function(){
        if(resultadoCEP["resultado"] == 1){
          console.log(resultadoCEP);
          $("#id_address").val(unescape(resultadoCEP["tipo_logradouro"])+" "+unescape(resultadoCEP["logradouro"]));
          $("#id_district").val(unescape(resultadoCEP["bairro"]));
          $("#id_city").val(unescape(resultadoCEP["cidade"]));
          $("#id_uf").val(unescape(resultadoCEP["uf"]));
          $("#id_address_number").focus();
        }else{
          alert("Endereço não encontrado para o cep ");
        }
        $('#id_spinner').css('display', 'none');
    });
  }
}
</script>

{% endblock js %}
