<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Get Endereço</title>
  </head>
  <body>
    <div class="" id="app">
      <div class="row">
        <div class="col-md-4">
          <label>Cep</label>
          <input type="text" name="cep" v-model:value="cep">
        </div>
        <div class="col-md-4">
          <label>Cidade</label>
          <input type="text" name="cep" v-model:value="infos.localidade">
        </div>
        <div class="col-md-4">
          <label>Rua</label>
          <input type="text" name="cep" v-model:value="infos.logradouro">
        </div>
      </div>
    teste
    <button type="button" v-on:click="getEndereco()" name="button">get</button>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        cep: '',
        infos: {},
      },
      methods: {
        getEndereco: function() {
          const self = this
          axios.get(`https://viacep.com.br/ws/${this.cep}/json/`).then(function(result) {
            self.infos = result.data
            console.log(self.infos)
          })
        }
      },
      watch: {
        'cep': function() {
          if (this.cep.length == 8) {
            this.getEndereco()
          }
        }}
    })
  </script>
  </body>
</html>
