{% extends "base.html" %}
{% load usergroup_tags %}
{% load easy_mask %}

{% block title %}
  {% if modelname == 'Company' %}
    | Clientes
  {% else %}
    | Fornecedores
  {% endif %}
{% endblock title %}

{% block breadcrumb %}
  {% include "includes/breadcrumb_detail.html" %}
{% endblock breadcrumb %}

{% block content %}

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>

<div id="app" data-pk="{{ object.pk }}" data-object="{% if modelname == 'Company' %}company{% else %}provider{% endif %}">

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Detalhes
        {% if not request.user|has_group:"simpleuser" %}
          <a href="{{ object.update_url }}" class="btn" title="Editar">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a href="#ModalDelete" class="btn" role="button" data-toggle="modal" title="Apagar">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="card-columns">
          <div class="card">
            <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" alt="Image cap [100%x180]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16050836ef6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16050836ef6%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22109.140625%22%20y%3D%2297.2%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-body">
              <h4 class="card-title">{{ object }}</h4>
              <a href="mailto:{{ object.email }}" class="card-text">{{ object.email }}</a>
            </div>
            <ul class="list-group list-group-flush">
              {% if object.rg %}
                <li class="list-group-item">RG: {{ object.rg }}</li>
              {% endif %}

              {% if object.cpf %}
                <li class="list-group-item">CPF: {{ object.cpf|cpf_mask }}</li>
              {% endif %}

              {% if object.cnpj %}
                <li class="list-group-item">CNPJ: {{ object.cnpj|cnpj_mask }}</li>
              {% endif %}

              {% if object.ie  %}
                <li class="list-group-item">Inscrição Estadual: {{ object.ie }}</li>
              {% endif %}

              {% if object.imun %}
                <li class="list-group-item">Inscrição Municipal: {{ object.imun }}</li>
              {% endif %}

              <li class="list-group-item">
                {{ object.get_address }}<br>
                {{ object.get_address_complement }}<br>
                CEP: {{ object.cep|cep_mask|default:"---" }}
              </li>

            </ul>
            <!-- <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div> -->
          </div>
          <div class="card">
            <div class="card-header">
              Contatos
              <span class="span-is-link badge badge-success float-right" data-target="#modalContactAdd" role="button" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar</span>
            </div>
            <div class="card-body">
              <transition name="fade">
                <p id="alert" ref="alert" class="alert alert-warning" v-if="message" role="alert"><span style="font-weight:bold">${ message }</span></p>
              </transition>
              <table class="table table-responsive-sm table-outline">
                <tbody>
                  <tr v-for="contact in contacts">
                    <td>
                      <div>${ contact.name }</div>
                      <div class="small text-muted">
                        <a :href="contact.email">${ contact.email }</a>
                      </div>
                      <div>${ contact.phone }</div>
                    </td>
                    {% if not request.user|has_group:"simpleuser" %}
                      <td style="padding:0">
                        <span class="span-is-link span-color-link" data-target="#modalContactEdit" data-toggle="modal" @click="load_contact(contact)">
                          <i class="fa fa-pencil-square-o"></i>
                        </span>
                      </td>
                      <td>
                        <form action="." method="POST">
                          {% csrf_token %}
                          <span class="span-is-link" @click="remove(contact)">
                            <i class="fa fa-close" style="color:red"></i>
                          </span>
                        </form>
                      </td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> <!-- card-body -->
    </div> <!-- card -->
  </div>
</div>

{% include "modal/modal_delete.html" %}

{% include "modal/modal_contact_add.html" %}

{% include "modal/modal_contact_edit.html" %}

</div>

{% endblock content %}

{% block js %}

  <script>
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    axios.defaults.xsrfCookieName = 'csrftoken'
    var app = new Vue({
      el: '#app',
      delimiters: ['${', '}'],
      data: {
        object: '',
        company: '',
        provider: '',
        contacts: [],
        pk: '',
        name: '',
        email: '',
        phone: '',
        message: ''
      },
      methods: {
        get_contacts(page){
          axios.get('/crm/' + this.object + '/contact/' + page + '/')
          .then((result) => {
            this.contacts = result.data.map((item) => {
              return {pk: item.pk, name: item.fields.name, email: item.fields.email, phone: item.fields.phone}
            })
          })
        },
        save_contact(){
          let bodyFormData = new FormData()
          if (this.object == 'company') {
            bodyFormData.append('company', this.company)
          } else {
            bodyFormData.append('provider', this.provider)
          }
          bodyFormData.append('name', this.name)
          bodyFormData.append('email', this.email)
          bodyFormData.append('phone', this.phone)
          // let config = {headers: {'Content-Type': 'multipart/form-data'}}
          if (!this.name) {
            this.message = 'Favor preencher o nome.'
            setTimeout(()=>{
              this.message = ''
            }, 2000);
          } else {
            axios.post('/crm/' + this.object + '/contact/add/', bodyFormData)
            .then((response) => {
              this.contacts.push(
                {
                  name: this.name,
                  email: this.email,
                  phone: this.phone
                }
              )
              this.name = ''
              this.email = ''
              this.phone = ''
            })
          }
        },
        load_contact(contact) {
          this.pk = contact.pk
          this.name = contact.name
          this.email = contact.email
          this.phone = contact.phone
        },
        edit_contact(){
          let bodyFormData = new FormData()
          if (this.object == 'company') {
            bodyFormData.append('company', this.company)
          } else {
            bodyFormData.append('provider', this.provider)
          }
          bodyFormData.append('pk', this.pk)
          bodyFormData.append('name', this.name)
          bodyFormData.append('email', this.email)
          bodyFormData.append('phone', this.phone)
          axios.post('/crm/' + this.object + '/contact/' + this.pk + '/edit/', bodyFormData)
          .then((response) => {
            // Da pra melhorar
            this.contacts = response.data.map((item) => {
              return {pk: item.pk, name: item.fields.name, email: item.fields.email, phone: item.fields.phone}
            })
          })
        },
        remove: function(contact) {
          axios.post('/crm/' + this.object + '/contact/' + contact.pk + '/delete/')
          .then((response) => {
            let idx = this.contacts.indexOf(contact)
            this.contacts.splice(idx, 1)
          })
        }
      },
      mounted(){
        this.object = this.$el.getAttribute('data-object')
        if (this.object == 'company') {
          this.company = this.$el.getAttribute('data-pk')
          this.get_contacts(this.company)
        } else {
          this.provider = this.$el.getAttribute('data-pk')
          this.get_contacts(this.provider)
        }
      }
    })
  </script>

{% endblock js %}