{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>CRM</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'landpage/css/bootstrap/css/theme.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'landpage/css/style.css' %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,700,900,500' rel='stylesheet' type='text/css'> -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.7/typicons.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'landpage/assets/css/pushy.css' %}">
        <link rel="stylesheet" href="{% static 'landpage/assets/css/masonry.css' %}">
        <link rel="stylesheet" href="{% static 'landpage/assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'landpage/assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'landpage/assets/css/odometer-theme-default.css' %}">
        <script>
        window.odometerOptions = {
          selector: '.odometer',
          format: '(,ddd)', // Change how digit groups are formatted, and how many digits are shown after the decimal point
          duration: 13000, // Change how long the javascript expects the CSS animation to take
          theme: 'default'
        };
        </script>
    </head>
    <body>

      {% if mydebug %}
        <!-- <div class="pull-right" style="padding: 10px 50px 0 0">
          <a href="{% url 'core:dashboard' %}" style="color:#235367">Dashboard</a>
      </div> -->
      {% endif %}
      <!-- Site Overlay -->
      <div class="site-overlay"></div>

        <header id="home">
            <div class="container-fluid">
                <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
                <div class="container">
                    <div class="jumbotron">
                      <img src="https://vuejs.org/images/logo.png" alt="">
                      <p>
                        <a href="{% url 'core:dashboard' %}" style="color:#235367">Dashboard</a>
                      </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'landpage/js/jquery.min.js' %}"></script>
        <script src="{% static 'landpage/js/bootstrap.min.js' %}"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-scrollspy.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'landpage/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
        <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
        <script src="{% static 'landpage/assets/js/masonry.js' %}"></script>
        <script src="{% static 'landpage/assets/js/pushy.min.js' %}"></script>
        <script src="{% static 'landpage/assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'landpage/assets/js/wow.min.js' %}"></script>
        <script src="{% static 'landpage/assets/js/scripts.js' %}"></script>
        <script src="{% static 'landpage/assets/js/odometer.js' %}"></script>
    </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34344036-1', 'auto');
  ga('send', 'pageview');

</script>
